@model IEnumerable<PersonWebApp.Models.Person>
@{
    ViewData["Title"] = "People";
    Person firstPerson = null;
}

@if (Model != null && Model.Count() > 0)
{
    firstPerson = Model.ToList().FirstOrDefault();
}

<h1>People</h1>

<p>
    <a asp-action="Add">Add New</a>
</p>

@if (firstPerson != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label asp-for="@firstPerson.Id"></label>
                </th>
                <th>
                    <label asp-for="@firstPerson.FirstName"></label>
                </th>
                <th>
                    <label asp-for="@firstPerson.LastName"></label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <label>@item.Id</label>
                    </td>
                    <td>
                        <label>@item.FirstName</label>
                    </td>
                    <td>
                        <label>@item.LastName</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}